body{
    background-image: url(./img/ok.png);
    font-family: Roboto;
}
#menu{
    position: fixed;
    top:50%;
    left:50%;
    width:auto;
    display: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: 4px;
    padding: 10px;
}
#menu ul{
    padding:0;
    margin: 0;
    list-style: none;
}
#menu li i{
    margin-right: 15px;
}
#menu li{
    padding:10px;
    color:rgb(228, 228, 228);
    transition: 0.5s;
    opacity: 0;
    animation: showmenu 0.5s ease-in-out 1 forwards;
}
#menu li:nth-child(2){
    animation-delay: 0.2s;
}
#menu li:nth-child(3){
    animation-delay: 0.4s;
}
#menu li:nth-child(4){
    animation-delay: 0.6s;
}
#menu li:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transform: translate(0,-10px);
    border-radius: 6px;
    /* box-shadow: 0 10px 50px #636363; */
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
@keyframes showmenu{
    from{
        opacity: 0;
        transform: translate(0,20px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}
